@font-face {
    font-family: 'ImcreSoojin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
#context #grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#context {
    font-family: 'ImcreSoojin', 'serif';
    background: linear-gradient(rgb(253, 240, 242), rgb(228, 206, 209));
}
a{
    text-decoration: none;
    color: blue;
}
table td:nth-child(2) {
    text-align:center;
    vertical-align: middle;
}
caption{
    margin: 10px;
}
p{
    margin-left: 20px;
}